{% extends "base.html" %}
{% block title %} Ticket #{{ num}} - django patch report {% endblock  %}
{% block content %}

<h1>Patch report for ticket <a href="">#{{ num }}</a></h1>

<dl id="info" class="table">

<dt>Ticket no</dt><dd>#{{ num }} (<a href="http://code.djangoproject.com/ticket/{{ num }}">on code.djangoproject.com</a>)</dd>
<dt>Status</dt><dd>{{ status }}</dd>
<dt>Stage</dt><dd>{{ stage }}</dd>

</dl>

{% if patches %}
<section id="patches">{% for patch in patches %}
  <section class="detail {% if patch.applies %}applies{% else %}breaks{% endif %}" id="{{ patch.name }}">
    <h2>
      <a href="http://code.djangoproject.com/attachment/ticket/{{ num }}/{{ patch.name }}">
        {{ patch.name }}
      </a>
    </h2>
    <pre><code>{{ patch.content }}</code></pre>

    {% if not patch.applies %}
    <section class="patch_application">
      <h4>Patch application failed against the following subdirectories:</h4>

      {% for dir,message in patch.tried_applying_to_dir.items %}
      <section class="try">
        <h4>{% ifequal dir 'null' %}<code>/</code><i>(repository root)</i>{% else %}<code>{{ dir }}</code>{% endifequal %}</h4>
        <pre><code>{{ message }}</code></pre>
      </section>
      {% endfor %}

    </section>
    {% endif %}

  </section>

{% endfor %}</section>
{% else %}
<section id="patches">
No patches attached yet.
</section>
{% endif %}

{% endblock %}
